// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-880 {
        padding: var(--sectionPadding);
    }

    #services-880 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }

    #services-880 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #services-880 .cs-title {
        /* max width of 18 characters, includes spaces between words */
        max-width: 18ch;
    }

    #services-880 .cs-text {
        margin-bottom: 1rem;
    }

    #services-880 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }

    #services-880 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }

    #services-880 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }

    #services-880 .cs-button-solid:hover:before {
        width: 100%;
    }

    #services-880 .cs-card-group {
        width: 100%;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.25rem;
    }

    #services-880 .cs-item {
        text-align: center;
        list-style: none;
        border-radius: 1rem;
        overflow: hidden;
        background-color: #f7f7f7;
        grid-column: span 4;
        position: relative;
        z-index: 1;
        transition:
            box-shadow 0.3s,
            transform 0.3s;
    }

    #services-880 .cs-item:hover {
        box-shadow: rgba(183, 191, 199, 0.062) 0px 8px 24px;
    }

    #services-880 .cs-item:hover .cs-picture img {
        opacity: 0.3;
        transform: scale(1.1);
    }

    #services-880 .cs-item:hover .cs-h3 {
        color: var(--primaryLight);
    }

    #services-880 .cs-link {
        text-decoration: none;
        padding: 0 0 1.25rem 0;
        display: block;
    }

    #services-880 .cs-picture {
        width: 100%;
        height: 12.5rem;
        margin-bottom: 1.25rem;
        background-color: var(--primaryLight);
        /* clips the img tag corners */
        overflow: hidden;
        display: block;
        position: relative;
        z-index: 10;
    }

    #services-880 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition:
            transform 0.6s,
            opacity 0.3s;
    }

    #services-880 .cs-h3 {
        font-size: 1.25rem;
        text-align: inherit;
        line-height: 1.2em;
        font-weight: 700;
        color: var(--headerColor);
        margin: 0 0 0.75rem 0;
        /* 16px - 24px */
        padding: 0 clamp(1rem, 2vw, 1.5rem);
        transition: color 0.3s;
    }

    #services-880 .cs-item-text {
        /* 14px - 16px  */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        text-align: inherit;
        line-height: 1.5em;
        color: var(--bodyTextColor);
        margin: 0;
        padding: 0 1.25rem;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-880 .cs-container {
        max-width: 80rem;
    }

    #services-880 .cs-item {
        grid-column: span 2;
    }
}

/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #services-880 .cs-container {
        flex-direction: row;
        justify-content: space-between;
    }

    #services-880 .cs-card-group {
        width: 50%;
        max-width: 39.375rem;
        /* offsets by the same amount the cards are translated */
        margin-bottom: 3.75rem;
        grid-template-columns: repeat(2, 1fr);
    }

    #services-880 .cs-item {
        grid-column: span 1;
    }

    #services-880 .cs-item:nth-of-type(1),
    #services-880 .cs-item:nth-of-type(3) {
        transform: translateY(3.75rem);
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #services-880 .cs-topper {
        color: var(--primaryLight);
    }

    body.dark-mode #services-880 .cs-title,
    body.dark-mode #services-880 .cs-text,
    body.dark-mode #services-880 .cs-h3,
    body.dark-mode #services-880 .cs-item-text {
        color: var(--bodyTextColorWhite);
    }

    body.dark-mode #services-880 .cs-text,
    body.dark-mode #services-880 .cs-item-text {
        opacity: 0.8;
    }

    body.dark-mode #services-880 .cs-item {
        background-color: rgba(0, 0, 0, 0.2);
    }

    body.dark-mode #services-880 .cs-item:before {
        opacity: 0.3;
    }
}


/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #sbs-2277 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        padding-top: 0;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
        }

        .cs-flex {
            /* 48px - 64px */
            margin-bottom: clamp(3rem, 6vw, 4rem);
        }

        .cs-wrapper {
            width: 100%;
        }

        .cs-title {
            max-width: 25ch;
        }

        .cs-text {
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            width: 100%;
            max-width: (630/16rem);
            margin: (32/16rem) 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (16/16rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-icon {
            width: (17/16rem);
            height: auto;
            margin-top: (3/16rem);
        }

        .cs-topper {
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            margin: 0;

            strong {
                color: var(--headerColor);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: #fff;
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: (8/16rem);
            position: relative;
            z-index: 1;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            row-gap: (8/16rem);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 24px - 32px */
            padding: clamp(1.5rem, 4vw, 2rem);
            background-color: #111418;
            display: flex;
            align-items: flex-start;
            gap: (24/16rem);

            &:last-of-type {
                background-color: var(--primary);
            }
        }

        .cs-item-icon {
            width: (48/16rem);
            height: auto;
            display: block;
        }

        .cs-number {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 4vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-desc {
            font-size: (20/16rem);
            line-height: 1.2em;
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: 90vw;
            max-height: (500/16rem);
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-floater {
            width: auto;
            /* 50px - 160px */
            height: clamp(3.125rem, 8vw, 10rem);
            position: absolute;
            /* 18px - 60px */
            top: clamp(1.125rem, 6vw, 3.75rem);
            right: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2277 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            position: absolute;
            top: 0;
            right: (32/16rem);
        }

        .cs-item {
            width: (200/16rem);
            flex-direction: column;
        }

        .cs-picture {
            height: (480/16rem);
            max-height: initial;
            /* 60px - 80px */
            margin-top: clamp(3.75rem, 7vw, 5rem);
            position: relative;
            z-index: -1;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-2277 {
        .cs-content {
            /* 48px - 64px */
            gap: 1rem;
        }

        .cs-title {
            margin: 0;
        }

        .cs-wrapper {
            display: flex;
            gap: (48/16rem);
        }

        .cs-flex {
            max-width: (420/16rem);
            margin: 0;
            /* 60px - 80px, same amount as the margin top on the cs-picture on tablet  */
            padding-top: clamp(3.75rem, 7vw, 5rem);
        }

        .cs-image-group {
            height: auto;
        }

        .cs-picture {
            height: 100%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-2277 {

            .cs-title,
            .cs-topper,
            .cs-text,
            .cs-item-text {
                color: var(--bodyTextColorWhite);

                strong {
                    color: var(--bodyTextColorWhite);
                }
            }

            .cs-text {
                opacity: .8;
            }

            .cs-item {
                background-color: var(--dark);
                position: relative;
                z-index: 1;

                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: #000;
                    opacity: .6;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }

                &:last-of-type {
                    background-color: var(--primary);

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}

/* ---------------------------------- */
/*           Gallery                  */
/* ---------------------------------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-2235 {
        padding-top: 2rem;
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            height: auto;
            max-width: (1500/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (1280/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex-group {
            display: flex;
            flex-direction: column;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-topper {
            color: var(--headerColor);
        }

        .cs-text {
            max-width: none;
        }

        .cs-wrapper {
            width: 100%;
            overflow: hidden;
        }

        .cs-slideshow {
            position: relative;
            transform-style: preserve-3d;
        }

        .cs-slide {
            width: 100%;
            /* 340px - 840px */
            // height: clamp(21.25rem, 60vw, 52.5rem);
            margin: auto;
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            z-index: 100;
            transition: transform 0.3s, opacity 0.3s, z-index 0.3s;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            /* classes applied by the JS file */
            &.initial,
            &.active {
                opacity: 1;
                position: relative;
                z-index: 900;
            }

            &.prev,
            &.next {
                z-index: 800;
            }

            &.prev {
                transform: translateX(-100%);
            }

            &.next {
                transform: translateX(100%);
            }
        }

        .cs-slideshow-button {
            /* 36px - 80px */
            width: clamp(2.25rem, 6vw, 5rem);
            /* 36px - 80px */
            height: clamp(2.25rem, 6vw, 5rem);
            cursor: pointer;
            border: 1px solid #fff;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            z-index: 1000;
            transform: translateY(-50%);

            &::before {
                content: "";
                /* 20px - 64px */
                width: clamp(1.25rem, 5vw, 4rem);
                /* 20px - 64px */
                height: clamp(1.25rem, 5vw, 4rem);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.cs-slideshow-prev {
                left: (16/16rem);

                &::before {
                    background-image: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/slideshow-left.svg");
                }
            }

            &.cs-slideshow-next {
                right: (16/16rem);

                &::before {
                    background-image: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/slideshow-right.svg");
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-2235 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: (40/16rem);
        }

        .cs-title {
            margin-bottom: 0;
        }

        .cs-flex-group {
            width: 55%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-2235 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-title,
            .cs-text,
            .cs-topper {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-592 {
        padding: var(--sectionPadding);
        background-color: var(--primary);

        .cs-container {
            width: 100%;
            /* changes to 1440px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper,
        .cs-title {
            max-width: 20ch;
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 32px - 48px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
            /* makes padding not affect height and width */
            box-sizing: border-box;
            background-color: #f0f0f0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-icon {
            /* 30px - 40px */
            width: clamp(1.875rem, 4vw, 2.5rem);
            height: auto;
            margin: 0 0 (32/16rem) 0;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 4vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (24/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 4vw, 1rem);
            line-height: 1.5em;
            max-width: (388/16rem);
            margin: 0 0 (48/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 500;
            margin: auto 0 0 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
            position: relative;

            &:before {
                /* dash line */
                content: "";
                width: (8/16rem);
                height: 1px;
                background: currentColor;
                display: block;
                position: relative;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-592 {
        .cs-container {
            max-width: (1440/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .cs-item {
            width: 48.5%;
        }
    }
}

/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #reviews-592 {
        .cs-card-group {
            align-items: stretch;
            justify-content: center;
        }

        .cs-item {
            width: clamp(23.45%, 23.2vw, 23.9%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-592 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-item {
                background-color: rgb(100, 96, 96);
            }

            .cs-h3,
            .cs-item-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text {
                opacity: 0.8;
            }
        }
    }
}